{% extends 'base.html' %}

{% block main %}
    <h1 class="page-title">About Me</h1>
	    <article class="post">
            <div class="entry-content clearfix">
                <figure class="img-responsive-center">
                    <img class="img-responsive"
                         src="http://ww1.sinaimg.cn/large/8512ee6bly1fqrce4us6hj20i20bot97.jpg"
                         alt="海豹仔">
                </figure>
				<p>
                    &nbsp;&nbsp;&nbsp;&nbsp;竖琴海豹（学名：Pagophilus groenlandicus）体长1.7米，体重130千克。面部宽阔，两眼靠近，强壮而呈黑色的爪子，银白色而光滑的皮毛。明显的黑色条带在背部形成许多鞍纹，大体呈竖琴图案。
<br>
&nbsp;&nbsp;&nbsp;&nbsp;竖琴海豹是一种相当耐寒的海洋哺乳动物。主要分布于亚特兰大以北到北冰洋间的极地地区。生活于极地的开阔海洋和海岸线边缘地带。以鳕鱼、香鱼和鲱鱼等为食。通常以集群的形式沿着冰带的边缘大规模迁移。
<br>
&nbsp;&nbsp;&nbsp;&nbsp;由于其皮毛和海豹油的价值而长期处于被捕猎状态。从1987年开始，加拿大《海洋哺乳动物条例》禁止捕猎竖琴海豹幼崽（白毛海豹），捕猎的海豹必须是能自我生存和能独立生活的海豹（通常年龄在25天以上）。
                </p>
				<div class="height-40px"></div>
                <h2 class="title text-center">Social</h2>
                <ul class="social">
                    <li class="twitter">
                        <a href="https://twitter.com/QuantaZero">
                            <span class="ion-social-twitter"></span>
                        </a>
                    </li>
                    <li class="twitter">
                        <a href="https://t.me/tenshin">
                            <span class="ion-paper-airplane"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </article>
{% endblock main %}